<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanMyBus</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Bienvenue sur PlanMyBus </h1>
    <form action="/search" method="POST">
        <label>Départ :</label>
        <input type="text" name="departure" required>
        <label>Destination :</label>
        <input type="text" name="destination" required>
        <label>Date de départ :</label>
        <input type="date" name="departureDate" required>
        <button type="submit">Rechercher</button>
    </form>
</body>
</html>